.Pokedex-details {
    text-align: center;
    margin-bottom: 3rem;
}

.Pokedex-cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(min-content, 20rem));
    grid-gap: 10rem;
}

.Pokedex-winlose {
    display: inline-block;
    padding: 1rem;
    color: #fff;
    margin: 2rem 0 1rem;
    font-size: 2rem;
    font-weight: 300;
}

.Pokedex-winlose--win {
    background-color: limegreen;
}

.Pokedex-winlose--lose {
    background-color: firebrick;
}